extends layout

block content
  h1= "To Do's"
  //- each td in todos
  //-   p= "- " + td.content
  each td in todos
    li(style="margin-bottom: 10px")
      form(action="/delete", method="POST",style="display: inline")
        input(type="hidden", name="todo", value=td.id)
        button.delete(type="submit") Delete
      span= "    " + td.content
  form(action="/", method="POST")
    input(type="text", name="todo", placeholder="Enter a new task", required)
    button(type="submit") Add Task
